{% extends 'accounts/main.html' %}

{% load static %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/customer.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Secular+One&display=swap" rel="stylesheet">
		<br>
<div class="container">
<div class="row">
	<div class="col-md">
		<div class="card card-body" style="background-color: #0383CD ">
			<h5 class="" align="middle" style="color:white"> הזמנה מספר :{{order.id}} </h5>
            <h5 align="middle" style="color:white">לקוח : {{customer.name}}</h5>
            <form id="myform">
                  {% csrf_token %}
                {{orderform.date_finish}}

            </form>

		</div>
</div>
	</div>

  <div class="row">
	  <div class="col-4">
		  <div class="card bg-light mb-3" style="max-width: 30rem;">
  <div class="card-header " align="center">משימות</div>
  <div class="card-body">
       <form id="task-form">
        <div class="row input-group" >
            {% csrf_token %}

            {{form.task}}

            <input type="submit" class="btn btn-primary justify-content-center text-center" value="הוסף" style="float:right" />

        </div>
               <table class="table table-striped table-sm" id="my_tasks">
        <thead>
            <tr>
                <th> משימות </th>

            </tr>
        </thead>
        <tbody>
        {% for i in task %}
        <tr >
            <td>{{i.task}} </td>

        </tr>
        {% endfor %}
        </tbody>
    </table>
    </form>
  </div>
</div>
	  </div>
    <div class="col-8">
   <div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0" align="center">
        <button class="btn " type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          שירותים
        </button>
      </h2>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
          <form id="service-form">

            {% csrf_token %}

               <table class="table table-striped table-sm table-bordered table-hover" id="my_services">

         <thead>
               <tr>
                   <th>
                       שרות
                   </th>
                   <th> כמות</th>
                   <th>מחיר</th>
                   <th>סה"כ</th>
                   <th>  </th>
               </tr>
               </thead>
        <tbody>
            <td width="60%">
                   {{formservice.service}}
               </td>
               <td width="15%">{{formservice.quantity}}</td>
               <td width="20%">{{formservice.price}}</td>
               <td width="20%"></td>
            <td><input type="submit" class="btn btn-primary justify-content-center text-center" value="הוסף"  /></td>
        {% for i in service %}
        <tr >
            <td contenteditable="true">{{i.product}} </td>
            <td contenteditable="true">{{i.quantity}} </td>
            <td contenteditable="true">{{i.price}} ₪</td>
            <td contenteditable="true"></td>
            <td><input type="submit" class="btn btn-danger justify-content-center text-center" value="מחק"  /></td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

          </form>

      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingTwo" align="center">
      <h2 class="mb-0">
        <button class="btn collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          קבצים
        </button>
      </h2>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
      <div class="card-body">
          <form action="{% url 'upload_picture' order.id %}" class="dropzone" id="my-awesome-dropzone">

            {% csrf_token %}
 <div class="fallback">
                <input name="file" type="file" multiple />
            </div>

          </form>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header" id="headingThree" align="center">
      <h2 class="mb-0">
        <button class="btn  collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          מידע
        </button>
      </h2>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
  </div>
</div>
</div>
{% endblock %}
