
		#logo{
		}

		body{
			background-color: #ffffff;
			font-size: 24px;
		}


		#total-orders{
			background-color: #ffffff;
		}


		#orders-delivered{
			background-color: #ffffff;
		}

		#orders-pending{
			background-color: #ffffff;
		}


